:root {
  --main-bg-color: #f7f8fb;
  --op-btn-bg-color: rgb(128, 37, 37);
  --calc-bg-color: lightblue;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
}

.calculator {
  height: 400px !important;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: var(--calc-bg-color);
  border-radius: 10px;
  outline: 10px solid #000;
  /* box-shadow: 0 6px 5px rgba(153, 29, 29, 0.5); */
  /* box-shadow: 20px 20px 20px 6px rgba(0, 0, 0, 0.12); */
}

.output {
  flex: 1;
  background-color: #fff;
}

.key-pad {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

input[type='text'] {
  height: 80%;
  width: 100%;
  float: right;
  text-align: right;
  padding-right: 10px;
  border: none;
  font-size: 30px;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button {
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #000;
  transition: background-color 100ms ease-in-out;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.op-div,
.op-mul,
.op-sub,
.op-add {
  background-color: var(--op-btn-bg-color);
}

.clear,
.eq {
  background-color: var(--calc-bg-color);
}
